  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #table_container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  #open_modal {
    padding: 10px 50px;
    margin-top: 20px;
  }
  

  th,td {
    border: 1px solid black;
    padding: 5px;
  }


  #modal_container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    top: 0;
    left: 0;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
  }

  #modal_container.show {
    pointer-events: auto;
    opacity: 1;
  }

  #modal {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
    width: 600px;   
  }

  #modal_form {
    display: flex;
    row-gap: 15px;
    flex-direction: column;
  }

  #modal_form button {
    padding: 10px 30px;
  }


 